.dropzone {
	> div {
		border-color: $clr-border-dark !important;
		border-width: 1px;
		margin: 0 auto;
		width: 202px !important;
		height: 202px !important;
	}

	&__body {
		width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	}

	i {
		color: $clr-border-dark;
		font-size: 40px;
	}

	&__image {
		width: 206px;
		min-height: 206px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: red;
			opacity: 0;
			transition: .1s ease;
		}

		&:hover {
			&:before {
				opacity: .1;
			}
		}
	}
}