.intl-tel-input {
	input {
		width: 100%;
	}

	.selected-flag {
		outline: none;
	}
}

.auth {
	.intl-tel-input {
		.country-list {
			font-family: Arial;
			font-size: 13px;
			left: -68px;
			box-shadow: none;
			border-radius: 4px;
			top: 50px;
			border-color: #c3c1c4;
		}
	}
}