.widget-code {
	border: 1px solid #D2DCE4;
	display: inline-block;
	padding: 15px;
	margin: 0px;
	font-family: monospace, monospace;
	color: #5B6A78;
	font-size: 12px;
	width: 100%;
	box-sizing: border-box;
	min-height: 125px;
	line-height: 19px;
	outline: none;
}

.widget-success-message {
  height: 151px;
  display: flex;
  justify-content: center;
  align-items: center;
}