form .form {
  margin: 70px 0;
}

.col-centered {
  display: block !important;
}

.form-part-number {
  width: 53px;
  height: 53px;
  line-height: 53px;
  border-radius: 50%;
  background-color: $cl-gray-d2;
  color: white;
  text-align: center;
  font-size: 26px;
  margin-right: 20px;
  float: left;
  
  & + p {
    line-height: 53px;
  }
  
  &--disabled {
    @extend .form-part-number;
    background-color: $cl-gray-d4;
  }
}

.form-container {
  margin-top: 20px;
  width: 100%;
}
.form-row {
  margin-bottom: 40px;
  max-width: 100%;
  
  & > * {
      padding: 0 10px;
    }

  &--justify {
    @extend .form-row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}