extends common/layout

block content
  body.website.page__plain
    .section.section--login
      .container
        .row
          .login
            .login__logo
              img.img_responsive.crop-width(src='/img/website/messageus-logo-sign.svg', alt='MessageUs logo')

            .login__form
              form(id="resetPasswordForm")
                .login__reset-info
                  | Fill in the form below to reset your password.

                .login__input-group
                  input(type="password", class="login__input", id="password", name="password", placeholder="Password")

                  label.login__label(for="password") Password
                .login__input-group
                  input(type="password", class="login__input", id="confirmPassword", name="confirmPassword", placeholder="Repeat password")

                  label.login__label(for="confirmPassword") Repeat password

                button(type="submit", class="login__submit", form="resetPasswordForm") Submit