$clr-alpha: #3fabea;
$clr-alpha-secondary: #38B6FF;

$clr-beta: #2ebf67;
$clr-beta-secondary: #1DCD64;

$clr-text-gray: #92a0ad;
$clr-text-dark: #5b6a78;
$clr-text-black: #22282D;

$clr-border-dark: #d2dce4;

$clr-danger: #FF5757;
$clr-ok: #529214;
$clr-warn: #817134;

$header-height: 85px;
$searchbar-height: 80px;
$navigation-width: 120px;

