footer.cover.cover--footer
  .container
    .text-block--footer.text-block--center
      div
        strong.wtitle.wtitle--gamma
          | Start connecting
        include tel-input--header.jade
        .footer-app.visible-xs
          a(href="https://itunes.apple.com/us/app/messageus-search-message-transact/id1105398096?ls=1&mt=8")
            img.footer-app--img(src='img/website/app-store.png', alt='App store')
    .menu-footer
      .menu-footer__logo
        .website-brand-logo--white
        p.copyright &copy; 2016 All Rights Reserved
      .menu-footer__nav
        ul
          li
            a(href='about') About
          li
            a(href='privacy-policy') Privacy Policy
          li
            a(href='terms-of-service') Terms of Service
      .menu-footer__signin
        a(href='app') Sign in for Businesses
    .menu-footer__logo-mobile
      .website-brand-logo--white
      p.copyright &copy; 2016 All Rights Reserved

    .subfooter
      .subfooter__social-media
        a.subfooter__social-icon.icon-angellist(href="https://angel.co/messageus")
        a.subfooter__social-icon.icon-twitter(href="https://twitter.com/messageushq")
