#modal-phone-number.modal-window
  .section
    .container.container--modal
      .row
        .text-block.text-block--center
          h1.wtitle.wtitle--beta Download the App
          p.paragraph.paragraph--beta
            | Enter your phone number and we’ll send you a link.
      .row
        .text-block.text-block--center
          include tel-input--header
          p.paragraph.paragraph--small-hint Available on the App Store
      a(href="#").modal_close
