#claim.modal-window
  .section
    .container.container--modal
      .row
        .col-md-8.col-md-push-2.text-block.text-block--center
          h1.wtitle.wtitle--beta Let’s Set Up Your Business
          p.paragraph.paragraph--beta
            | Signing up for MessageUs is fast and free — no commitments or long-term contracts.
      .row
        #claim-business
      a(href="#").modal_close

